<div class="inbox-container">
  <div class="header">
    <section class="left-header">
        <mat-icon svgIcon="three-dots-vertical" class="icon three-dots-vertical-icon"></mat-icon>
        <mat-icon svgIcon="sort-arrow-down" class="icon sort-arrow-down"></mat-icon>
        <mat-icon svgIcon="grey-chevron-down" class="icon caret-arrow-down"></mat-icon>
        <span class="header-label">By Date</span>
    </section>

    <section class="right-header">
      <mat-icon svgIcon="sync" class="icon sync-icon"></mat-icon>
      <span class="header-label">8 min. ago</span>
      <mat-icon svgIcon="minimize" class="icon minimize-icon"></mat-icon>
    </section>

  </div>
  <div class="body">
    @if(requestsDemo.length > 0) {
      @for(request of requestsDemo; track request.id){
        <app-prescription-request [requestData]="request" />
      }

    } @else {
      <div class="no-requests-message">
        No requests available.
      </div>
    }
  </div>
</div>
