<div class="inbox-container">
  <div class="header">
    <section class="left-header">
      <span class="icon icon-three-dots" aria-hidden="true"></span>
<!--      <svg class="icon sort-arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" role="img" aria-hidden="true" focusable="false">-->
<!--        <path fill="currentColor"/>-->
<!--      </svg>-->

      <h6>three dots</h6>
<!--      <h6>up arrow</h6>-->
<!--      <h6>caret</h6>-->
<!--      <h6>By Date</h6>-->
    </section>

<!--    <section class="right-header">-->
<!--      <h6>clock icon</h6>-->
<!--      <h6>8 min. ago</h6>-->
<!--      <h6> - </h6>-->
<!--    </section>-->

  </div>
  <div class="body">body</div>
</div>
