<div class="card">
  @if (cardData()) {
    <div class="card-header">
      <mat-icon [svgIcon]='iconName$()' class="icon medicine-icon"></mat-icon>
      <span>{{cardData().patientName}}</span>
      <span class="timestamp">{{cardData().lastModifiedDate | date:'HH:mm dd/MM/yyyy'}}</span>

    </div>

    <div class="card-body">

    </div>

    <div class="card-footer">
      <mat-icon svgIcon="hourglass" class="icon hourglass-icon"></mat-icon>
      <span>{{estimatedTimeMin$()}} min.</span>

    </div>
  }
</div>
