.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  gap: 4px;

  .medicine-icon{
    width: 18px;
    height: 18px;
  }

  .timestamp {
    margin-left: auto;
    font-size: 11px
  }
}

.patient-name {
  font-weight: 600;
  color: #111827;
}

.request-date {
  font-size: 11px;
  color: #6b7280;
}

.card-body {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-size: 12px;
  color: #374151;
}

.card-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: #9ca3af;
}

.description {
  flex: 1;
  line-height: 1.4;
}

.card-footer {
  display: flex;
  /*justify-content: space-between;*/
  gap: 9px;
  align-items: center;
  font-size: 11px;

  .timestamp-ago, .labels .assign{
    display: flex;
    align-items: center;
    /*gap: 4px;*/
  }

  .assign-section, .labels-sections{
    display: flex;
    align-items: center;
  }

  .assign-section{
    gap: 4px;
  }

  .hourglass-icon, .type-icon, .icon-inbox-icon{
    width: 14px;
    height: 14px;
  }

}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  background: #f3f4f6;
  color: #6b7280;
  font-weight: 500;
}

.urgent-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: #ef4444;
}
